*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bola {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.bola1 {
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 100%;
}

.bola2 {
    width: 150px;
    height: 150px;
    background-color: yellow;
    border-radius: 100%;
}

.bola3 {
    width: 150px;
    height: 150px;
    background-color: greenyellow;
    border-radius: 100%;
}